/ {
    macros {
        macro_cmdkcmd: macro_cmdkcmd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp K>
                , <&macro_release &kp LGUI>
                , <&macro_tap &sk LGUI>
                ;
        };
        macro_cmdk: macro_cmdk {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp K>
                , <&macro_release &kp LGUI>
                ;
        };
    };
};                                  

