

#define MAKE_MACROS(NAME, BINDING) \
/ { \
    macros { \
        macro_ ## NAME: macro_ ## NAME { \
            compatible = "zmk,behavior-macro"; \
            label = #NAME; \
            bindings = BINDING; \
        }; \
    }; \
}


MAKE_MACROS(cmdkcmd, <&macro_press &kp LGUI &macro_tap &kp K &macro_release &kp LGUI &macro_tap &sk LGUI>)